* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: linear-gradient(to right bottom, #6aedcf, #00c1d7, #0090e1, #005ad4, #1e009a);
}

h1 {
  width: 200px;
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 16px;
  color: rgb(8, 8, 8);
  padding: 8px 20px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.planyourday_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.planyourday_container .right {
  width: 60vw;
  height: 100%;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.planyourday_container .left {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 240px 0px 0px 80px;
}

.planyourday_container .left form label {
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
}

.planyourday_container .left form input {
  width: 100%;
  margin-top: 4px;
  height: 34px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(225, 237, 248);
}

.planyourday_container .left form button {
  width: 100%;
  background-color: rgba(55, 85, 255, 0.699);
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  padding: 10px 32px;
  text-decoration:none;
  outline: none;
  border: none;
  margin-top: 10px;
}

.planyourday_container .right .box {
  height: 200px;
  width: 200px;
  background-color: #fff;
  text-align: center;
  line-height: 1.4;
  padding: 30px 40px;
  margin: 30px 40px;
  box-shadow: 10px 10px 20px 0px rgb(46, 255, 39);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.76);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.76);
}

.planyourday_container .right .box span {
  display: block;
}

i {
  margin: 0px 2px;
}

i:hover {
  transform: translate(-5%,-5%);
}

.red {
  color: #f00;
}

.green {
  color: #0f0;
}

.no_task {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 254, 254);
  border-radius: 10px;
  margin: 20px 0px;
}

::-webkit-scrollbar-thumb {
  background: rgb(17, 100, 255);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {

    .planyourday_container {
      flex-direction: column;
    }

    .planyourday_container .left {
      margin: 30px auto;
    }

    .planyourday_container .right {
      width: 80vw;
      margin: 0px auto;
      padding-top: 10px;
      justify-content: center;
    }

    .planyourday_container .right .box {
      height: 150px;
      width: 150px;
      font-size: 14px;
    }

    .no_task {
      margin: 0px auto;
    }

    h1 {
      position: relative;
      width: 20px;
    }
  
}
